---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <main class="main-width">
    <h1>
      <span class="text-gradient text-gradient-animation">About</span>
    </h1>
  </main>
</Layout>
