---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import ConstructionLayout from '../layouts/ConstructionLayout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<ConstructionLayout>
	<div class="flex items-center align-middle justify-center h-full mt-32"></div>
		<h1 class="text-4xl text-center font-bold">Under Construction</h1>
	</div>
</ConstructionLayout>

<style>

</style>
