---
import Layout from '../layouts/Layout.astro';

const firstName = 'Sebastian';
---

<Layout>
  <main class="main-width flex flex-col">
    <h1>
      <span id="greeting">Hello!</span><br /> My name is <span id="firstName" class="text-gradient"
        >{firstName}</span
      >!
    </h1>
    <p>
      I'm currently building this site with <a href="https://astro.build" target="_blank">Astro</a>!
      There isn't much here yet, but I'm working on it!
    </p>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const date = new Date();
    const hour = date.getHours();

    let greeting = '';

    if (hour < 4) {
      greeting = 'Hello, night owl!';
    } else if (hour < 12) {
      greeting = 'Good morning!';
    } else if (hour < 18) {
      greeting = 'Good afternoon!';
    } else {
      greeting = 'Good evening!';
    }

    document.getElementById('greeting').textContent = greeting;
  });
</script>
