---
import Layout from '../layouts/Layout.astro';
import GitHubRepoCard from '../components/GitHubRepoCard.astro';
import RaycastStoreCard from '../components/RaycastStoreCard.astro';
import { Octokit } from '@octokit/rest';
import githubRepos from '../data/githubRepos.json';
import raycastExtensions from '../data/raycastExtensions.json';

interface Repo {
  owner: string;
  repo: string;
}

// Fetch repo details
const octokit = new Octokit({
  auth: import.meta.env.GITHUB_TOKEN,
  userAgent: 'sebdanielsson/sebbo.io',
});

async function getRepoDetails(owner: string, repo: string) {
  try {
    const response = await octokit.repos.get({
      owner,
      repo,
    });

    const repoData = response.data;

    return {
      id: repoData.id,
      owner: repoData.owner.login,
      owner_url: repoData.owner.html_url,
      name: repoData.name,
      full_name: repoData.full_name,
      html_url: repoData.html_url,
      description: repoData.description,
      created_at: repoData.created_at,
      updated_at: repoData.updated_at,
      pushed_at: repoData.pushed_at,
      stars: repoData.stargazers_count,
      language: repoData.language,
      topics: repoData.topics,
      license: repoData.license,
    };
  } catch (error) {
    console.error('Error fetching repository details:', error);
  }
}

// List of GitHub repos to fetch
const typedGithubRepos: Repo[] = githubRepos as Repo[];

// Fetch repo details
const repoDetails = await Promise.all(
  typedGithubRepos.map((repo) => getRepoDetails(repo.owner, repo.repo)),
);

// Sort by stars
repoDetails.sort((a, b) => b.stars - a.stars);
---

<Layout title="Projects">
  <main class="main-width">
    <h1>
      <span class="text-gradient text-gradient-animation">Projects</span>
    </h1>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
      {repoDetails.map((repo) => <GitHubRepoCard repo={repo} />)}

      {raycastExtensions.map((extension) => <RaycastStoreCard extension={extension} />)}
    </div>
  </main>
</Layout>
