---
import Layout from "@/layouts/Layout.astro";
import GitHubRepoCard from "@/components/GitHubRepoCard.astro";
import RaycastStoreCard from "@/components/RaycastStoreCard.astro";
import DockerHubCard from "@/components/DockerHubCard.astro";
import { getCollection } from "astro:content";

// Fetch Raycast extensions from collection
const raycastExtensions = await getCollection("raycastExtensions");

// Fetch Docker Hub images from collection
const dockerHubImages = await getCollection("dockerHubImages");

// Fetch GitHub repos from collection
const githubRepos = await getCollection("githubRepos");

// Sort GitHub repos by stars
const sortedGithubRepos = githubRepos.sort((a, b) => {
  return b.data.stars - a.data.stars;
});
---

<Layout title="Projects">
  <main class="main-width py-12">
    <h1 class="my-0">Projects</h1>
    <h2>Docker Images</h2>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
      {dockerHubImages.map((image) => <DockerHubCard image={image} />)}
    </div>
    <h2>Raycast Extensions</h2>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
      {raycastExtensions.map((extension) => <RaycastStoreCard extension={extension} />)}
    </div>
    <h2>GitHub Repos</h2>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
      {sortedGithubRepos.map((repo) => <GitHubRepoCard repo={repo} type="repo" />)}
    </div>
  </main>
</Layout>
