---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
  <main class="main-width">
    <h1>
      <span class="text-gradient text-gradient-animation">Projects</span>
    </h1>
  </main>
</Layout>
