---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Stats">
  <main class="main-width flex flex-col">
    <iframe
      title="Plausible Analytics"
      plausible-embed
      src="https://plausible.hogwarts.zone/share/sebbo.io?auth=AsL6hakKY_k5ejzy-ULWd&embed=true&theme=dark&background=transparent"
      loading="eager"></iframe>
    <span
      >Powered by <a target="_blank" style="color: #4F46E5;" href="https://plausible.io"
        >Plausible Analytics</a
      ></span
    >
    <script async src="https://plausible.hogwarts.zone/js/embed.host.js"></script>
  </main>
</Layout>
