---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Stats">
  <main class="main-width flex flex-col">
    <iframe
      title="Plausible Analytics"
      plausible-embed
      src="https://plausible.hogwarts.zone/share/sebbo.io?auth=AsL6hakKY_k5ejzy-ULWd&embed=true&theme=system&background=transparent"
      loading="eager"></iframe>
    <span>
      Powered by <a target="_blank" href="https://plausible.io"> Plausible Analytics </a>
    </span>
    <script
      is:inline
      async
      src="https://plausible.hogwarts.zone/js/embed.host.js"
      integrity="sha512-RC+HZv16wo14Ufvv0AxZTdT4bwEoMSsFNGNFttLt/bXNJNpXtTcFNQiRPqlcJFtXGHkn42CbX5iwT8GTQGiBjA=="
      crossorigin="anonymous"></script>
  </main>
</Layout>
