---
const { title: propTitle, description = 'The personal site of Sebastian Danielsson' } = Astro.props;

const title = propTitle ? `${propTitle} - Sebbo.io` : 'Sebbo.io';
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#000" />
<title>{title}</title>

<style>
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style>
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<script
  is:inline
  defer
  data-domain="sebbo.io"
  src="https://plausible.hogwarts.zone/js/script.js"
  integrity="sha512-vRIWn9+H4Kw5pLOof5R/L6+59SSEPnyX/P/pG3VvKknKOHeKyZ1vFKX1mJ0KM/UCZYxVuVwfvSoKcCWmBROKvQ=="
  crossorigin="anonymous"></script>
