---
const { title: propTitle, description = 'The personal site of Sebastian Danielsson' } = Astro.props;

const title = propTitle ? `${propTitle} - Sebbo.io` : 'Sebbo.io';
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#000" />
<title>{title}</title>

<style>
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style>
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<script
  is:inline
  defer
  data-domain="sebbo.io"
  src="https://plausible.hogwarts.zone/js/script.js"
  integrity="sha512-c40da2bae316b4c83c682e8b260e17109d5771bf6197b8888f7075829524534e01d58404525a8c0f46e50771b25c41cd78e8e5d86171b9c9f6a3e69232d3fc92"
  crossorigin="anonymous"></script>
