---
const siteName = 'Sebastian Danielsson';
const year = new Date().getFullYear();
---

<footer class="flex flex-row justify-center text-xs text-neutral-300">
  <span>&copy; {siteName} {year}</span>
</footer>
