---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title: propTitle, description = 'The personal site of Sebastian Danielsson' } = Astro.props;

const title = propTitle ? `${propTitle} - Sebbo.io` : 'Sebbo.io';
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#101010" />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<script defer data-domain="sebbo.io" src="https://plausible.hogwarts.zone/js/script.js"></script>

<ViewTransitions />
