---
import CommonHead from '@components/CommonHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@fontsource/kalam/300.css';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body class="flex h-dvh flex-col gap-12">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --background: #101010;
        --accent: #883aea;
        --accent-light: #ae7af1;
        --accent-lighter: #bb8ff3;
        --accent-gradient: linear-gradient(
          90deg,
          var(--accent-lighter) 0%,
          var(--accent-light) 50%,
          var(--accent) 100%
        );
      }

      html {
        font-family: system-ui, sans-serif;
        background: var(--background);
      }

      code {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', 'DejaVu Sans Mono', monospace;
      }

      .handwritten {
        font-family: Kalam, 'Segoe Print', 'Bradley Hand', Chilanka, 'TSCu_Comic', casual, cursive;
      }

      .main-width {
        margin: auto;
        width: 95vw;
      }

      @media screen and (width >= 640px) {
        .main-width {
          width: 95vw;
        }
      }

      @media screen and (width >= 768px) {
        .main-width {
          width: 90vw;
        }
      }

      @media screen and (width >= 1024px) {
        .main-width {
          width: 85vw;
        }
      }

      @media screen and (width >= 1280px) {
        .main-width {
          width: 80vw;
        }
      }

      @media screen and (width >= 1536px) {
        .main-width {
          width: calc(1536px - 4rem);
        }
      }

      main {
        color: white;
        font-size: 16px;
        line-height: 1.6;
        flex: 1;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: var(--accent-light);
      }

      @media (width >= 640px) {
        h1 {
          font-size: 3rem;
          margin-top: 1em;
          margin-bottom: 0.5em;
        }
      }

      h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: var(--accent-light);
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: var(--accent-light);
      }

      a {
        color: var(--accent-light);
        text-decoration: none;
      }

      a:hover {
        color: var(--accent-lighter);
      }

      .text-gradient {
        background-image: var(--accent-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      strong {
        color: var(--accent-light);
      }

      .passing-underline {
        display: inline-block;
        position: relative;
      }

      .passing-underline::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--accent-light);
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.4s ease-out;
        color: var(--accent-light);
      }

      .passing-underline:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    </style>
  </body>
</html>
