---
name: Cloudflare Pages

on:
  push:
  workflow_dispatch:
  discussion_comment:
    types: [created, deleted]

jobs:
  cloudflare-pages:
    name: Cloudflare Pages
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Load secrets from dotenvx
        id: dotenvx
        uses: andreijiroh-dev/dotenvx-action@v0.5.1
        with:
          path: .env
          key: ${{ secrets.DOTENVX_KEY }}
          inject-env-vars: false

      - name: Set commit in environment
        run: echo "COMMIT_ID=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run formt check
        run: bun --bun run format

      - name: Run lint
        run: bun --bun run lint

      - name: Run stylelint
        run: bun --bun run stylelint

      - name: Build project
        run: bun --bun run build
        env:
          GITHUB_USER: ${{ github.repository_owner }}
          GITHUB_REPO: ${{ github.event.repository.name }}
          GH_API: ${{ steps.dotenvx.outputs.GH_API }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ steps.dotenvx.outputs.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ steps.dotenvx.outputs.CLOUDFLARE_ACCOUNT_ID }}
          command: "pages deploy dist --project-name=${{ steps.dotenvx.outputs.CLOUDFLARE_PROJECT_NAME }}"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
